<div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
	<div class="container ie-h-align-center-fix">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
				<div id="google-map"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
				<div class="tm-bg-white tm-p-4">
					<main class="px-3">
						<h1>Contact page</h1>
						<p class="lead">The programmer of this application is Ádám Dr. Porkoláb.<br> You can contact him by his
							webpage:
							<a href="https://www.porkolab.digital">https://www.porkolab.digital</a>
						</p>
						<p class="lead">
							The GitHub page of the author: <a href="https://github.com/APorkolab/">https://github.com/APorkolab/</a>
						</p>
					</main>
				</div>
			</div>
		</div>
	</div>
</div>